<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center text-primary my-4">Hamshira Qo'shish</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
                    Qo'shish
                </button>
                <!-- Modal -->
                <div class="modal fade text-start" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                    Hamshira Qo'shish</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="col-12 m-auto" class="forms-sample" action="/nurse/create/" method="post">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Ism</label>
                                        <input required type="text" class="form-control" placeholder="Ism kirit"
                                            name="firstname" value="{{firstname}}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Familiya</label>
                                        <input required type="text" class="form-control" placeholder="Familiya kirit"
                                            name="surname" value="{{surname}}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Tel raqam</label>
                                        <input required type="text" class="form-control" placeholder="+998 xx xxx xx xx"
                                            name="phone" value="+998">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Lavozimi</label>
                                        <input required type="text" class="form-control" placeholder="Lavozim kirit"
                                            name="role" value="{{phone}}">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">


            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title">Hamshiralar ro'yhati</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ism Familiya</th>
                                    <th scope="col">Tel raqami</th>
                                    <th scope="col">Lavozimi</th>
                                    <th scope="col">Royhatga olingan sana</th>
                                    <th scope="col" class="text-center">O'zgartirish</th>
                                    <th scope="col" class="text-center">O'chirish</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if nurses}}
                                {{#each nurses}}
                                <tr id="{{_id}}">
                                    <th scope="row">{{@index}}</th>
                                    <td>{{surname}} {{firstname}}</td>
                                    <td>{{phone}}</td>
                                    <td>{{role}}</td>
                                    <td>{{created_at}}</td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-update">
                                            <i class="ri-edit-box-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-update" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Hamshira o'zgartirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/nurse/update/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">Ism</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Ism kirit" name="firstname"
                                                                    value="{{firstname}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Familiya</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Familiya kirit" name="surname"
                                                                    value="{{surname}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Tel raqam</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="+998 xx xxx xx xx" name="phone"
                                                                    value="{{phone}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Lavozimi</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Lavozim kirit" name="role"
                                                                    value="{{role}}">
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">Qo'shish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal-delete">
                                            <i class="ri-delete-bin-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-delete" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Hamshira o'chirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/nurse/delete/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <h5 class="text-primary">Ushbu hamshira malumotlarini o'chirsangiz keyin qayta tiklay olmaysiz</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-danger">O'chirish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td colspan="12" class="text-center py-5">
                                        <h4 class="text-danger">malumotlar yo'q</h4>
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>