<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center text-primary my-4">Hamshira Qo'shish</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
                    Qo'shish
                </button>
                <!-- Modal -->
                <div class="modal fade text-start" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                    Hamshira Qo'shish</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="col-12 m-auto" class="forms-sample" action="/nurse/create/" method="post">
                                <div class="modal-body row">
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Ism</label>
                                        <input required type="text" class="form-control" placeholder="Ism kirit"
                                            name="firstname" value="{{firstname}}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Familiya</label>
                                        <input required type="text" class="form-control" placeholder="Familiya kirit"
                                            name="surname" value="{{surname}}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Otasini ismi</label>
                                        <input required type="text" class="form-control"
                                            placeholder="Otasini ismini kirit" name="lastname" value="{{lastname}}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Passport seriya va raqami</label>
                                        <input required type="text" class="form-control" placeholder="AB 1234567"
                                            name="passportSeriaNumber" value="{{passportSeriaNumber}}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Lavozimi</label>
                                        <input required type="text" class="form-control" placeholder="Lavozim kirit"
                                            name="job" value="{{job}}">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Statusi</label>
                                        <select class="form-select" name="role">
                                            {{#switch Role}}
                                            {{#case 'starAdmin'}}
                                            <option value="Nurse">Hamshira</option>
                                            <option value="Admin">Admin</option>
                                            {{/case}}
                                            {{#default}}
                                            <option value="Nurse">Hamshira</option>
                                            {{/default}}
                                            {{/switch}}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Tel raqam</label>
                                        <input required type="text" class="form-control" placeholder="+998 xx xxx xx xx"
                                            name="phone" value="{{phone}}">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Paroli</label>
                                        <input required type="password" class="form-control" placeholder="Parol kirit"
                                            name="password" value="{{password}}">
                                    </div>
                                    {{!-- <div class="mb-3">
                                        <label class="form-label">Mahallasini tanla</label>
                                        <select class="selectpicker col-12" name="region" data-live-search="true">
                                            {{#each regions}}
                                            <option value="{{_id}}">{{title}}</option>
                                            {{/each}}
                                        </select>
                                    </div> --}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Qaytish</button>
                                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">


            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title text-center">Hamshiralar ro'yhati</h5>
                    <form action="">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-sm-12">
                                <div class="row">
                                    <div class="mb-3 col-md-4 col-sm-12">
                                        <select class="form-select" name="role">
                                            <option value="">Hammasi</option>
                                            {{#if_eq valueQuery.role 'Nurse'}}
                                            <option value="Nurse" selected>Hamshiralar</option>
                                            {{else}}
                                            <option value="Nurse">Hamshiralar</option>
                                            {{/if_eq}}

                                            {{#if_eq valueQuery.role 'Admin'}}
                                            <option value="Admin" selected>Adminlar</option>
                                            {{else}}
                                            <option value="Admin">Adminlar</option>
                                            {{/if_eq}}
                                        </select>
                                    </div>
                                    <div class="input-group mb-3 col-md col-sm-12">
                                        <input type="search" class="form-control" name="search"
                                            value="{{valueQuery.search}}"
                                            placeholder="Izlash: ism, familiya, otasini ismi, tel raqami bo'yicha" />
                                        <button class="input-group-text btn btn-primary bg-primary">Izlash</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ism Familiya</th>
                                    {{!-- <th scope="col">Mahallasi</th> --}}
                                    <th scope="col">Passport</th>
                                    <th scope="col">Paroli</th>
                                    <th scope="col">Tel raqami</th>
                                    <th scope="col">Lavozimi</th>
                                    <th scope="col">Statusi</th>
                                    <th scope="col">Royhatga olingan sana</th>
                                    <th scope="col" class="text-center">O'zgartirish</th>
                                    <th scope="col" class="text-center">O'chirish</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if nurses}}
                                {{#each nurses}}
                                <tr id="{{_id}}">
                                    <th scope="row">{{@index}}</th>
                                    <td>{{surname}} {{firstname}} {{lastname}}</td>
                                    {{!-- <td><span class="text-primary">{{region.title}}</span></td> --}}
                                    <td>{{passportSeriaNumber}}</td>
                                    <td>{{password}}</td>
                                    <td>{{phone}}</td>
                                    <td>{{job}}</td>
                                    <td>{{role}}</td>
                                    <td>{{formatDate createdAt}}</td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-update-{{_id}}">
                                            <i class="ri-edit-box-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-update-{{_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Hamshira o'zgartirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/nurse/update/{{_id}}" method="post">
                                                        <div class="modal-body row">
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Ism</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Ism kirit" name="firstname"
                                                                    value="{{firstname}}">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Familiya</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Familiya kirit" name="surname"
                                                                    value="{{surname}}">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Otasini ismi</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Otasini ismini kirit" name="lastname"
                                                                    value="{{lastname}}">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Passport seriya va
                                                                    raqami</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="AB 1234567" name="passportSeriaNumber"
                                                                    value="{{passportSeriaNumber}}">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Lavozimi</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Lavozim kirit" name="job"
                                                                    value="{{job}}">
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">Statusi</label>
                                                                <select class="form-select" name="role">
                                                                    {{#switch ../ Role}}
                                                                        {{#case 'starAdmin'}}
                                                                            {{#if_eq role 'Nurse'}}
                                                                            <option value="Nurse" selected>Hamshiralar</option>
                                                                            {{else}}
                                                                            <option value="Nurse">Hamshiralar</option>
                                                                            {{/if_eq}}

                                                                            {{#if_eq role 'Admin'}}
                                                                            <option value="Admin" selected>Adminlar</option>
                                                                            {{else}}
                                                                            <option value="Admin">Adminlar</option>
                                                                            {{/if_eq}}
                                                                        {{/case}}

                                                                        {{#default}}
                                                                            {{#if_eq role 'Nurse'}}
                                                                            <option value="Nurse" selected>Hamshiralar</option>
                                                                            {{else}}
                                                                            <option value="Nurse">Hamshiralar</option>
                                                                            {{/if_eq}}
                                                                        {{/default}}
                                                                    {{/switch}}
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Tel raqam</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="+998 xx xxx xx xx" name="phone"
                                                                    value="{{phone}}">
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label">Paroli</label>
                                                                <input required type="password" class="form-control"
                                                                    placeholder="Parol kirit" name="password"
                                                                    value="{{password}}">
                                                            </div>
                                                            {{!-- <div class="mb-3">
                                                                <label class="form-label">Mahallasini tanla</label>
                                                                <select class="selectpicker col-12" name="region"
                                                                    data-live-search="true">
                                                                    <option value="">Tanlanmagan</option>
                                                                    <option selected value="{{region._id}}">
                                                                        {{region.title}}</option>
                                                                    {{#each ../regions}}
                                                                    {{#if_eq _id ../region._id}}
                                                                    <option value="{{_id}}" selected>{{title}}</option>
                                                                    {{else}}
                                                                    <option value="{{_id}}">{{title}}</option>
                                                                    {{/if_eq}}

                                                                    <option value="{{_id}}">{{title}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div> --}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">Qo'shish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal-delete-{{_id}}">
                                            <i class="ri-delete-bin-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-delete-{{_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Hamshira o'chirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/nurse/delete/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <h5 class="text-primary">Ushbu hamshira malumotlarini
                                                                o'chirsangiz keyin qayta tiklay olmaysiz</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-danger">O'chirish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td colspan="12" class="text-center py-5">
                                        <h4 class="text-danger">malumotlar yo'q</h4>
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                    <nav class="pt-3">
                        <ul class="pagination justify-content-center">
                            {{#paginate pagination type="previous"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                            {{/paginate}}
                            {{#paginate pagination type="middle"}}
                            <li {{#if active}}class="page-item active" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link">{{n}}</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&raquo;</span></a></li>
                            {{/paginate}}
                        </ul>
                    </nav>

                    <div class="text-end">
                        {{!-- <button class="btn btn-outline-primary me-1">Import Exel</button> --}}
                        <form class="d-inline" action="/export/json/nurse" method="post">
                            <button class="btn btn-outline-primary me-1">
                                <span class=" d-flex align-items-center">
                                    <i class="ri-folder-download-line me-2" style="font-size: 2em;"></i>
                                    <span>Export Json File</span>
                                </span>
                            </button>
                        </form>
                        <form class="d-inline" action="/export/excel/nurse" method="post">
                            <button class="btn btn-outline-success me-1">
                                <span class=" d-flex align-items-center">
                                    <i class="ri-folder-download-line me-2" style="font-size: 2em;"></i>
                                    <span>Export Exel File</span>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>