<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center text-primary my-4">Bemor Qo'shish</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
                    Qo'shish
                </button>
                <!-- Modal -->
                <div class="modal fade text-start" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                    Bemor Qo'shish</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="col-12 m-auto" class="forms-sample" action="/patient/create/" method="post">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Bemor ismi</label>
                                        <input required type="text" class="form-control" placeholder="ism kirit"
                                            name="firstname" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Bemor familiyasi</label>
                                        <input required type="text" class="form-control"
                                            placeholder="familiyasini kirit" name="surname" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Bemor otasining ismi</label>
                                        <input required type="text" class="form-control"
                                            placeholder="otasining ismini kirit" name="lastname" value="">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Tel raqami</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">+998</span>
                                            <input required type="number" class="form-control"
                                                placeholder="97 232 23 23" name="phone" value="{{phone}}">
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Mahallasi</label>
                                        <select class="selectpicker col-12" name="address" data-live-search="true">
                                            {{#each regions}}
                                            <option value="{{_id}}">{{title}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label">Passport Seriyasi</label>
                                            <input required type="text" class="form-control" placeholder="AB"
                                                name="passportSeria" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Passport Raqami</label>
                                            <input required type="number" class="form-control" placeholder="1232323"
                                                name="passportNumber" value="{{passportNumber}}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label">Bumor holati</label>
                                            <select class="form-select" name="status">
                                                <option value="tug'gan">tug'gan</option>
                                                <option value="tug'magan">tug'magan</option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Homila muddati</label>
                                            <div class="input-group mb-3">
                                                <input required type="number" class="form-control" name="weeks"
                                                    value="">
                                                <span class="input-group-text">havta</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label">Tugulgan sanasi</label>
                                            <input required type="date" class="form-control" name="birthDate" value="">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Oxirgi hayz</label>
                                            <input required type="date" class="form-control" placeholder="havta"
                                                name="datePeriod" value="">
                                        </div>
                                    </div>

                                    {{!-- d-none date start --}}
                                    <div class="mb-3 d-none">
                                        <input required type="date" class="form-control createAt" name="createdAt"
                                            value="">
                                        <script>
                                            const createAt = document.querySelector('.createAt');
                                            const date = new Date()
                                            createAt.value = `${date.getFullYear()}-${date.getMonth() >= 10 ? date.getMonth() : '0' + date.getMonth()}-${date.getDate() >= 10 ? date.getDate() : '0' + date.getDate()}`;
                                        </script>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Qaytish</button>
                                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="col-12">
                <div class="card-body">
                    <div class="col-12 pb-5">
                        <!-- Accordion without outline borders -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header text-center" id="flush-headingOne">
                                    <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                        <h5 class="text-primary text-center pt-4">Malumotlarni filter qilish</h5>
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <form class="px-5" action="">
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <label class="form-label">Bemorlar soni</label>
                                                    <select name="limit" class="form-select">
                                                        <option value="10">10</option>
                                                        <option value="20">20</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label class="form-label">Bemorlar statusi</label>
                                                    <select name="status" class="form-select">
                                                        <option value="tuggan">tug'gan</option>
                                                        <option value="tugmagan">tug'magan</option>
                                                        <option value="tushgan">tushgan</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label class="form-label">Bemorlar mahallasi</label>
                                                    <select class="selectpicker col-12" name="region"
                                                        data-live-search="true">
                                                        {{#each regions}}
                                                        <option value="{{_id}}">{{title}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- Default Tabs -->
                                            <div class="row justify-content-center">
                                                <ul class="nav nav-tabs d-flex text-center col-md-12 col-sm-12"
                                                    id="myTabjustified" role="tablist">
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100 active" id="home-tab"
                                                            data-bs-toggle="tab" data-bs-target="#home-justified"
                                                            type="button" role="tab" 
                                                            aria-selected="true">HavtaLar bo'yicha</button>
                                                    </li>
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100" id="profile-tab"
                                                            data-bs-toggle="tab" data-bs-target="#profile-justified"
                                                            type="button" role="tab" 
                                                            aria-selected="false">Oylar bo'yicha</button>
                                                    </li>
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100" id="contact-tab"
                                                            data-bs-toggle="tab" data-bs-target="#contact-justified"
                                                            type="button" role="tab" 
                                                            aria-selected="false">Yillar bo'yicha</button>
                                                    </li>
                                                    <li class="nav-item flex-fill" role="presentation">
                                                        <button class="nav-link w-100" id="contact-tab"
                                                            data-bs-toggle="tab" data-bs-target="#selected-justified"
                                                            type="button" role="tab"
                                                            aria-selected="false">Tanlangan sanalar
                                                            bo'yicha</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content pt-2" id="myTabjustifiedContent">
                                                <div class="tab-pane fade show active" id="home-justified"
                                                    role="tabpanel" aria-labelledby="home-tab">
                                                    <div class="row pt-3 justify-content-center">
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-label">Havtani tanlang</label>
                                                            <input class="form-control" type="week" name="week">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="profile-justified" role="tabpanel"
                                                    aria-labelledby="profile-tab">
                                                    <div class="row pt-3 justify-content-center">
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-label">Oyni tanlang</label>
                                                            <input class="form-control" type="month" name="month">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="contact-justified" role="tabpanel"
                                                    aria-labelledby="contact-tab">
                                                    <div class="row pt-3 justify-content-center">
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-label">Yilni tanlang</label>
                                                            <input class="date-own form-control" type="text" name="year">
                                                            <style>
                                                                .ui-datepicker-calendar {
                                                                    display: none;
                                                                }
                                                            </style>
                                                            <script>
                                                                $('.date-own').datepicker({
                                                                    minViewMode: 2,
                                                                    format: 'yyyy'
                                                                });
                                                            </script>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="selected-justified" role="tabpanel"
                                                    aria-labelledby="profile-tab">
                                                    <div class="row pt-3 justify-content-center">
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-label">Sanadan</label>
                                                            <input class="form-control" type="date" name="dateStart">
                                                        </div>
                                                        <div class="col-md-4 col-sm-12">
                                                            <label class="form-label">Sanagacha</label>
                                                            <input class="form-control" type="date" name="dateEnd">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- End Default Tabs -->
                                            <div class="text-center mt-5">
                                                <button type="submit" class="btn btn-primary">Filterlarni
                                                    tanlash</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Accordion without outline borders -->
                        <hr>

                        <h5 class="card-title text-center mt-5 mb-0 pb-0">Bemorlar ro'yhati</h5>
                    </div>
                    <div class="table-responsive" style="min-height: 50vh;">
                        <table class="table table-bordered table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ism Familiya</th>
                                    <th scope="col">Passport</th>
                                    <th scope="col">Tugulgan sanasi</th>
                                    <th scope="col">Manzili</th>
                                    <th scope="col">Royhatga olingan sana</th>
                                    <th scope="col">Tel raqami</th>
                                    <th scope="col">Homila muddati</th>
                                    <th scope="col">Taxminiy tug'riq</th>
                                    <th scope="col">Oxirgi hayz</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Chaqaloqlar</th>
                                    <th scope="col">O'zgartirish</th>
                                    <th scope="col">O'chirissh</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if patients}}
                                {{#each patients}}
                                <tr>
                                    <th scope="row">{{@index}}</th>
                                    <td>{{surname}} {{firstname}} {{lastname}}</td>
                                    <td>{{passportSeria}} {{passportNumber}}</td>
                                    <td>{{birthDate}}</td>
                                    <td>
                                        <span class="text-primary" data-bs-toggle="popover"
                                            data-bs-title="{{address.title}}" data-bs-content="
                                            {{#each address.nurses}}
                                                {{@index}}. {{firstname}} {{surname}};
                                            {{/each}}
                                        ">{{address.title}}</span>
                                    </td>
                                    <td>{{createdAt}}</td>
                                    <td>{{phone}}</td>
                                    <td>{{nimadur}} havta</td>
                                    <td>{{dateEnd}}</td>
                                    <td>{{datePeriod}}</td>
                                    <td>{{status}}</td>
                                    <td>
                                        {{#if children.boy.count}}
                                        <li>O'gil: {{children.boy.count}}ta</li>
                                        {{/if}}
                                        {{#if children.girl.count}}
                                        <li>Qiz: {{children.girl.count}}ta</li>
                                        {{/if}}
                                    </td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ri-edit-box-fill"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu">
                                                <li>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#modal-update-{{_id}}">
                                                        Malumotlarni o'zgartirish
                                                    </button>
                                                </li>
                                                <li>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#modal-update-week-{{_id}}">
                                                        Homila vaqtini o'zgartirish
                                                    </button>
                                                </li>
                                                <li>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                        data-bs-target="#modal-update-status-{{_id}}">
                                                        Homila statusini o'zgartirish
                                                    </button>
                                                </li>
                                            </ul>
                                            <!-- Modal -->
                                            <div class="modal fade text-start" id="modal-update-{{_id}}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 text-center"
                                                                id="exampleModalLabel">
                                                                Bemor o'zgartirish</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form class="col-12 m-auto" class="forms-sample"
                                                            action="/patient/update/{{_id}}" method="post">
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label class="form-label">Bemor ismi</label>
                                                                    <input required type="text" class="form-control"
                                                                        placeholder="Bemor ismi" name="firstname"
                                                                        value="{{firstname}}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Bemor familiyasi</label>
                                                                    <input required type="text" class="form-control"
                                                                        placeholder="Bemor kirit" name="surname"
                                                                        value="{{surname}}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Bemor otasining
                                                                        ismi</label>
                                                                    <input required type="text" class="form-control"
                                                                        placeholder="Bemor kirit" name="lastname"
                                                                        value="{{lastname}}">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Tel raqami</label>
                                                                    <div class="input-group mb-3">
                                                                        <span class="input-group-text">+998</span>
                                                                        <input required type="number"
                                                                            class="form-control"
                                                                            placeholder="97 232 23 23" name="phone"
                                                                            value="{{phone}}">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label class="form-label">Mahallasi</label>
                                                                    <select class="selectpicker col-12" name="address"
                                                                        data-live-search="true">
                                                                        <option selected value="{{address._id}}">
                                                                            {{address.title}}</option>

                                                                        {{#each ../ regions}}
                                                                        <option id="{{_id}}" value="{{_id}}">{{title}}
                                                                        </option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                                <div class="row mb-3">
                                                                    <div class="col-6">
                                                                        <label class="form-label">Passport
                                                                            Seriyasi</label>
                                                                        <input required type="text" class="form-control"
                                                                            placeholder="AB" name="passportSeria"
                                                                            value="{{passportSeria}}">
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <label class="form-label">Passport
                                                                            Raqami</label>
                                                                        <input required type="number"
                                                                            class="form-control" placeholder="1232323"
                                                                            name="passportNumber"
                                                                            value="{{passportNumber}}">
                                                                    </div>
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label class="form-label">Tugulgan sanasi</label>
                                                                    <input required type="date" class="form-control"
                                                                        placeholder="Bemor kirit" name="birthDate"
                                                                        value="{{birthDate}}">
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Qaytish</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Qo'shish</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal -->
                                            <div class="modal fade text-start" id="modal-update-status-{{_id}}"
                                                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 text-center"
                                                                id="exampleModalLabel">
                                                                Bemor o'zgartirish</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form class="col-12 m-auto" class="forms-sample"
                                                            action="/patient/update/{{_id}}" method="post">
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label class="form-label">Bemor holati</label>
                                                                    <select class="form-select" name="status">
                                                                        <option value="tug'gan">tug'gan</option>
                                                                        <option value="tug'magan">tug'magan</option>
                                                                    </select>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <div class="col-6">
                                                                        <label class="form-label">O'gil farzand</label>
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="number"
                                                                                name="boy" placeholder="soni">
                                                                            <span class="input-group-text">dona</span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <label class="form-label">Qiz farzand</label>
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="number"
                                                                                name="girl" placeholder="soni">
                                                                            <span class="input-group-text">dona</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Qaytish</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Qo'shish</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal -->
                                            <div class="modal fade text-start" id="modal-update-week-{{_id}}"
                                                tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 text-center"
                                                                id="exampleModalLabel">
                                                                Bemor o'zgartirish</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form class="col-12 m-auto" class="forms-sample"
                                                            action="/patient/update/{{_id}}" method="post">
                                                            <div class="modal-body">
                                                                <div class="mb-3 col-6">
                                                                    <label class="form-label">Homila muddati</label>
                                                                    <div class="input-group mb-3">
                                                                        <input required type="number"
                                                                            class="form-control" name="weeks" value="">
                                                                        <span class="input-group-text">havta</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Qaytish</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Qo'shish</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal-delete-{{_id}}">
                                            <i class="ri-delete-bin-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-delete-{{_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Bemor o'chirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/patient/delete/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <h5 class="text-primary">Ushbu Bemor malumotlarini
                                                                o'chirsangiz keyin qayta tiklay olmaysiz</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-danger">O'chirish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td colspan="14" class="text-center py-5">
                                        <h4 class="text-danger">malumotlar yo'q</h4>
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                    <nav class="pt-3">
                        <ul class="pagination justify-content-center">
                            {{#paginate pagination type="previous"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                            {{/paginate}}
                            {{#paginate pagination type="middle"}}
                            <li {{#if active}}class="page-item active" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link">{{n}}</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&raquo;</span></a></li>
                            {{/paginate}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>