<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center text-primary my-4">Mahalla Qo'shish</h4>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
                    Qo'shish
                </button>
                <!-- Modal -->
                <div class="modal fade text-start" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                    Mahalla Qo'shish</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form class="col-12 m-auto" class="forms-sample" action="/region/create/" method="post">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Mahalla nomi</label>
                                        <input required type="text" class="form-control" placeholder="Mahalla kirit"
                                            name="title" value="">
                                    </div>
                                    {{!-- <div class="mb-3">
                                        <select class="selectpicker col-12" name="nurses[]" multiple
                                            data-live-search="true">
                                            {{#each nurses}}
                                            <option value="{{_id}}">{{surname}} {{firstname}}</option>
                                            {{/each}}
                                        </select>
                                    </div> --}}

                                    {{!-- d-none date start --}}
                                    <div class="mb-3 d-none">
                                        <input required type="date" class="form-control createAt" name="createdAt"
                                            value="">
                                        <script>
                                            const createAt = document.querySelector('.createAt');
                                            const date = new Date()
                                            createAt.value = `${date.getFullYear()}-${date.getMonth() >= 10 ? date.getMonth() : '0' + date.getMonth()}-${date.getDate() >= 10 ? date.getDate() : '0' + date.getDate()}`;
                                        </script>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Qaytish</button>
                                    <button type="submit" class="btn btn-primary">Qo'shish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">


            <div class="col-12">
                <div class="card-body">
                    <h5 class="card-title text-center">Mahallalar ro'yhati</h5>
                    <form action="">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <input type="search" class="form-control col-md-6 col-sm-12 col" name="search" value="{{search}}" placeholder="Izlash:mahalla nomi bo'yicha"/>
                                    <button class="input-group-text btn btn-primary bg-primary">Izlash</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="datatable" class="table table-bordered table-hover align-middle">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mahalla nomi</th>
                                    <th scope="col">Hamshiralar</th>
                                    <th scope="col">Royhatga olingan sana</th>
                                    <th scope="col" class="text-center">O'zgartirish</th>
                                    <th scope="col" class="text-center">O'chirish</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if regions}}
                                {{#each regions}}
                                <tr>
                                    <th scope="row">{{@index}}</th>
                                    <td>{{title}}</td>
                                    <td>
                                        <ol>
                                            {{#each nurses}}
                                            <li><a href="/nurse/#{{_id}}" class="text-primary">{{surname}}
                                                    {{firstname}}</a> - {{role}}</li>
                                            {{/each}}
                                        </ol>
                                    </td>
                                    <td>{{createdAt}}</td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modal-update-{{_id}}">
                                            <i class="ri-edit-box-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-update-{{_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Mahalla o'zgartirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/region/update/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <div class="mb-3">
                                                                <label class="form-label">Mahalla nomi</label>
                                                                <input required type="text" class="form-control"
                                                                    placeholder="Mahalla kirit" name="title"
                                                                    value="{{title}}">
                                                            </div>
                                                            {{!-- <div class="mb-3">
                                                                <select class="selectpicker col-12" name="nurses[]"
                                                                    multiple data-live-search="true">
                                                                    {{#each nurses}}
                                                                    <option selected value="{{_id}}">{{surname}}
                                                                        {{firstname}}</option>
                                                                    {{/each}}
                                                                    {{#each ../nurses}}
                                                                    <option value="{{_id}}">{{surname}}
                                                                        {{firstname}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            </div> --}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-primary">Qo'shish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#modal-delete-{{_id}}">
                                            <i class="ri-delete-bin-fill"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade text-start" id="modal-delete-{{_id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
                                                            Mahalla o'chirish</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <form class="col-12 m-auto" class="forms-sample"
                                                        action="/region/delete/{{_id}}" method="post">
                                                        <div class="modal-body">
                                                            <h5 class="text-primary">Ushbu Mahalla malumotlarini
                                                                o'chirsangiz keyin qayta tiklay olmaysiz</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Qaytish</button>
                                                            <button type="submit"
                                                                class="btn btn-danger">O'chirish</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                                {{else}}
                                <tr>
                                    <td colspan="12" class="text-center py-5">
                                        <h4 class="text-danger">malumotlar yo'q</h4>
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </div>
                    <nav class="pt-3">
                        <ul class="pagination justify-content-center">
                            {{#paginate pagination type="previous"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&laquo;</span></a></li>
                            {{/paginate}}
                            {{#paginate pagination type="middle"}}
                            <li {{#if active}}class="page-item active" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link">{{n}}</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                            <li {{#if disabled}}class="page-item disabled" {{/if}}><a
                                    href="?page={{n}}&limit={{../ pagination.limit}}" class="page-link"><span
                                        aria-hidden="true">&raquo;</span></a></li>
                            {{/paginate}}
                        </ul>
                    </nav>

                    <div class="text-end">
                        {{!-- <button class="btn btn-outline-primary me-1">Import Exel</button> --}}
                        <form class="d-inline" action="/export/json/region" method="post">
                            <button class="btn btn-outline-primary me-1">
                                <span class=" d-flex align-items-center">
                                    <i class="ri-folder-download-line me-2" style="font-size: 2em;"></i>
                                    <span>Export Json File</span>
                                </span>
                            </button>
                        </form>
                        <form class="d-inline" action="/export/excel/region" method="post">
                            <button class="btn btn-outline-success me-1">
                                <span class=" d-flex align-items-center">
                                    <i class="ri-folder-download-line me-2" style="font-size: 2em;"></i>
                                    <span>Export Exel File</span>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>